:root {
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primry-font-weight: 700;
  --secondary-font-weight: 400;
  --primary-font-size: 14px;
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --other-color: #ffffff;
  --logo-color: #000000;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --primary-icon-color: #afb1b8;
  --transition-time-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--primary-font-size);
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--other-color);
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  background-color: var(--accent-color);
  color: var(--other-color);
  cursor: pointer;
  font-weight: var(--primry-font-weight);
  font-size: 16px;
  line-height: 1.875em;
  border: 0;
  border-radius: 4px;
  letter-spacing: 0.06em;
}

.button__baner {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: color var(--transition-time-cubic), background-color var(--transition-time-cubic);
}

.button__baner:hover,
.button__baner:focus {
  background-color: #188ce8;
  color: var(--other-color);
}

.button__subscribe {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__services {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.6;
  background-color: var(--secondary-background-color);
  color: var(--main-color);
  transition: background-color var(--transition-time-cubic), color var(--transition-time-cubic), box-shadow var(--transition-time-cubic);
}

.button__services:hover,
.button__services:focus {
  background-color: var(--accent-color);
  color: var(--other-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button__modal--close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--transition-time-cubic);
}

.button__modal--close:hover,
.button__modal--close:focus {
  fill: var(--accent-color);
}

.button__modal--send {
  width: 200px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background var(--transition-time-cubic);
}

.button__modal--send:hover,
.button__modal--send:focus {
  background: #188ce8;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: var(--primry-font-weight);
  font-size: 26px;
  line-height: 1.19;
}

.logo__element {
  color: var(--accent-color);
}

.logo__header {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--logo-color);
}

.logo__footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: var(--other-color);
}

@media screen and (max-width: 767px) {
  .menu-list {
    display: none;
  }
  .contacts-list {
    display: none;
  }
  .header-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .page-header {
    position: relative;
  }
  .mobile-menu-list__link.current {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    align-items: center;
    border-bottom: 1px solid #ececec;
  }
  .header-conteiner {
    display: flex;
  }
  .page-navigation {
    display: flex;
  }
  .menu-list {
    display: flex;
    margin-right: auto;
    margin-left: 87px;
    column-gap: 50px;
    align-items: center;
    padding-left: 0;
  }
  .menu-list__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    transition: color var(--transition-time-cubic);
  }
  .menu-list__link:hover, .menu-list__link:focus {
    color: var(--accent-color);
  }
  .menu-list__link.current {
    color: var(--accent-color);
  }
  .current::after {
    display: inline-block;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .contacts-list {
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    column-gap: 50px;
    padding-left: 0;
    font-weight: 500;
    line-height: 1.14em;
    letter-spacing: 0.02em;
  }
  .page-header__email {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-weight: 500;
    transition: color var(--transition-time-cubic);
  }
  .page-header__email:hover, .page-header__email:focus {
    color: var(--accent-color);
  }
  .page-header__tel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-weight: 500;
    transition: color var(--transition-time-cubic);
  }
  .page-header__tel:hover, .page-header__tel:focus {
    color: var(--accent-color);
  }
  .page-header__email--icon,
.page-header__tel--icon {
    margin-right: 10px;
    fill: var(--secondary-color);
  }
  .page-header__email--icon {
    width: 16px;
    height: 12px;
  }
  .page-header__email:hover .page-header__email--icon, .page-header__email:focus .page-header__email--icon {
    fill: var(--accent-color);
  }
  .page-header__tel--icon {
    width: 10px;
    height: 16px;
  }
  .page-header__tel:hover .page-header__tel--icon, .page-header__tel:focus .page-header__tel--icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .menu-list {
    margin-left: 93px;
  }
  .contacts-list {
    padding: 0;
    flex-direction: row;
    align-items: center;
  }
  .page-header__email {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .page-header__tel {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 48px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 5;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-time-cubic), visibility var(--transition-time-cubic), display var(--transition-time-cubic);
}
@media screen and (min-width: 480px) {
  .mobile-menu {
    width: 480px;
  }
}
@media screen and (min-width: 767px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
}

.mobile-menu__conteiner {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 0;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  fill: var(--main-color);
  padding: 0;
  z-index: 10;
}

.mobile-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.menu-icon {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 767px) {
  .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-contacts-list {
    margin-top: auto;
    margin-bottom: 64px;
  }
}
.mobile-menu-contacts-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts-list__link--tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu-contacts-list__link--email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.mobile-menu-links-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  gap: 20px;
}

.mobile-menu-links-list__item {
  display: flex;
}

.mobile-menu-links-list__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mobile-menu-links-list__link {
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.services-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  column-gap: 8px;
  gap: 15px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

@media screen and (max-width: 1199px) {
  .services-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.services-list__link {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--transition-time-cubic);
}
.services-list__link:hover, .services-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay__text {
  position: absolute;
  transform: translateY(101%);
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--other-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--transition-time-cubic);
}
.services-list__link:hover .card-overlay__text {
  transform: translateY(0%);
}

.card-desc {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  justify-content: flex-start;
  align-items: center;
}

.card-desc__title {
  margin-bottom: 4px;
  color: var(--main-color);
  font-weight: var(--primry-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-desc__section {
  color: var(--secondary-color);
  font-weight: var(--secondary-font-weight);
  font-size: 16px;
  line-height: 1.875;
}

@media screen and (min-width: 768px) {
  .services-nav__list {
    justify-content: center;
  }
  .services-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-left: auto;
    margin-right: auto;
  }
  .services-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .services-list {
    margin-left: auto;
    margin-right: auto;
  }
  .services-list__item {
    width: calc((100% - 90px) / 3);
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
}

.address-group {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.address-list {
  font-weight: var(--secondary-font-weight);
  font-style: normal;
  line-height: 1.7142857143;
  text-align: center;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link--map {
  color: var(--other-color);
  font-weight: var(--secondary-font-weight);
  line-height: 1.7;
}

.address-list__link--email {
  color: rgba(255, 255, 255, 0.6);
  font-weight: var(--secondary-font-weight);
  line-height: 1.7;
  transition: color var(--transition-time-cubic);
}
.address-list__link--email:hover, .address-list__link--email:focus {
  color: var(--accent-color);
}

.address-list__link--tel {
  color: rgba(255, 255, 255, 0.6);
  font-weight: var(--secondary-font-weight);
  line-height: 1.7;
  transition: color var(--transition-time-cubic);
}
.address-list__link--tel:hover, .address-list__link--tel:focus {
  color: var(--accent-color);
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.social-links__title {
  margin-bottom: 20px;
  font-weight: var(--primry-font-weight);
  color: var(--other-color);
  font-style: normal;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.links-list {
  display: flex;
  column-gap: 10px;
}

.links-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-time-cubic);
}
.links-list__link:hover, .links-list__link:focus {
  background-color: var(--accent-color);
}

.links-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--other-color);
}

.subscribe-form {
  text-align: center;
}

.subscribe__title {
  margin-bottom: 20px;
  display: block;
  font-weight: var(--primry-font-weight);
  font-size: var(--primary-font-size);
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--other-color);
}

.subscribe-wrapper__input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
  color: var(--other-color);
  background-color: var(--primary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-wrapper__icon--send {
  margin-left: 10px;
  fill: var(--other-color);
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .subscribe-wrapper__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-conteiner {
    display: flex;
    align-items: baseline;
  }
  .address-group,
.address-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  .social-links {
    margin-left: 70px;
    margin-bottom: 0;
  }
  .links-list {
    padding: 0;
  }
  .subscribe-form {
    margin-left: auto;
  }
  .subscribe__title {
    text-align: start;
  }
  .subscribe-wrapper {
    display: flex;
  }
  .subscribe-wrapper__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=portfolio.css.map */