.benefits__title {
  text-align: center;
  font-weight: var(--primry-font-weight);
  font-size: 36px;
  line-height: 1.16;
  color: var(--other-color);
}

.benefits-list {
  font-weight: var(--primry-font-weight);
  line-height: 1.14em;
  margin-bottom: 30px;
}

.benefits-list__item {
  margin-bottom: 30px;
}

.benefits-list__icon--svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.benefits-list__icon {
  @extend %align;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
  background-color: var(--secondary-background-color);
}

.benefits-list__subtitle {
  font-weight: var(--primry-font-weight);
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.benefits-list__text {
  color: var(--secondary-color);
  font-weight: var(--secondary-font-weight);
  line-height: 1.7em;
}

@media screen and (min-width: $tablet) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .benefits-list__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  .benefits-list__subtitle {
    text-align: start;
  }
}

@media screen and (min-width: $desctop) {
  .benefits-list__item {
    width: calc((100% - 8 * 15px) / 4);
  }
}
