.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: var(--other-color);
}

@media screen and (min-width: $mobile) {
  .modal {
    width: 480px;
  }
}

@media screen and (min-width: $desctop) {
  .modal {
    width: 528px;
  }
}
