.our-team {
  background-color: var(--secondary-background-color);
}

.our-team__title {
  margin-bottom: 30px;
  font-weight: var(--primry-font-weight);
  text-align: center;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
}

.workers-list__item {
  background-color: var(--other-color);
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.workers-details {
  margin-top: 30px;
  margin-bottom: 16px;
}

.workers-details__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;

  line-height: calc(19 / 16);
  text-align: center;
}

.workers-details__position {
  color: var(--secondary-color);
  font-weight: var(--secondary-font-weight);
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  column-gap: 10px;
}

.links-list__link {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-time-cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.links-list__icon--fill {
  fill: var(--primary-icon-color);
  width: 20px;
  height: 20px;

  transition: fill var(--transition-time-cubic);

  .links-list__link:hover &,
  .links-list__link:focus & {
    fill: var(--other-color);
  }
}

@media screen and (min-width: $tablet) {
  .workers-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .workers-list__item {
    height: 536px;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: $desctop) {
  .workers-list__item {
    height: 428px;
    width: calc((100% - 8 * 15px) / 4);
  }
}
