.regular-customers__title {
  margin-bottom: 50px;
  font-family: var(--main-font-family);
  font-weight: var(--primry-font-weight);
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
}

.castomers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  column-gap: 30px;
}

.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;

  transition: border-color var(--transition-time-cubic);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.customers-list__icon {
  width: 106px;
  height: 60px;
  fill: var(--primary-icon-color);

  transition: fill var(--transition-time-cubic);

  .customers-list__link:hover &,
  .customers-list__link:focus & {
    fill: var(--accent-color);
  }
}
