.logo {
  font-family: var(--secondary-font-family);
  font-weight: var(--primry-font-weight);
  font-size: 26px;
  line-height: 1.19;
}

.logo__element {
  color: var(--accent-color);
}

.logo__header {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--logo-color);
}

.logo__footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: var(--other-color);
}
